flask
flask_cors
pymysql
json
# ======================================================================
# 以下為投資組合
pandas
pandas_datareader
requests
csv
time
datetime
# ======================================================================
# 以下為選股組合
bs4
# ======================================================================
# gcp用
gunicorn